.all-learned {
  margin-top: 25vh;
  color: var(--ion-color-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  .title {
    font-size: 1.8rem;
    font-weight: 800;
  }

  .message {
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--ion-color-medium);
    margin: 0;
  }

  .exit-btn {
    margin-top: 12px;
    --color: var(--ion-color-primary);
    font-weight: 700;
  }
}
